<div class="max-w-lg mt-12 mb-6 px-4">
   <div class="w-full flex items-center justify-start mb-6">
      <%= link_to dishes_path, class: "flex items-center" do %>
        <%= image_tag 'left_arrow.png'%>
      <% end %>
      <h1 class="ml-3 text-3xl font-bold text-gray-800">Atualizar bebida</h1>
  </div>

  <%= form_with model: @beverage, class: "space-y-6" do |f| %>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">


      <div class="col-span-2">
        <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <% if @beverage.errors[:name].any? %> 
          <span class="text-red-500 text-sm"><%= Beverage.human_attribute_name(:name) %> <%= @beverage.errors[:name].first %></span>
        <% end %>
      </div>
      
      <div class="col-span-2">
        <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_area :description, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <% if @beverage.errors[:description].any? %>
          <span class="text-red-500 text-sm"><%= Beverage.human_attribute_name(:description) %> <%= @beverage.errors[:description].first %></span>
        <% end %>
      </div>

      <div class="col-span-2">
        <div class="flex items-center">
          <%= f.label :calories, class: "block text-sm font-medium text-gray-700 mr-1" %>
          <em class="text-sm text-gray-500"> (opcional) </em>
        </div>
        <%= f.number_field :calories, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <% if @beverage.errors[:calories].any? %>
          <span class="text-red-500 text-sm"><%= Beverage.human_attribute_name(:calories) %> <%= @beverage.errors[:calories].first %></span>
        <% end %>
      </div>

    <div class="col-span-2">
        <%= f.label :alcoholic, class: "block text-sm font-medium text-gray-700" %>
        <%= f.check_box :alcoholic %>
    </div>
      <div class="col-span-2">
        <%= f.label :image, class: "block text-sm font-medium text-gray-700" %>
        <%= f.file_field :image %>
        <% if @beverage.errors[:image].any? %>
          <span class="text-red-500 text-sm"><%= Beverage.human_attribute_name(:image) %> <%= @beverage.errors[:image].first %></span>
        <% end %>
      </div>
    </div>

    <div class="mt-6">
      <%= f.submit 'Atualizar bebida',  class: 'dark:bg-gray-700 py-2 w-full border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
    </div>
  <% end %>
</div>
