  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Bebidas cadastradas</h1>
    <%= link_to 'Cadastrar nova bebida', new_restaurant_beverage_path(user_restaurant),  class: 'dark:bg-gray-700 py-2 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>

  <div class="flex flex-wrap gap-6">
    <% if @beverages.any? %>
        <% @beverages.each do |beverage| %>
          <div class="border border-gray-200 w-96 p-6 rounded-lg shadow flex items-center relative">
            <div class="absolute top-2 right-2 flex items-center space-x-1">
              <% if beverage.is_active %>
                <span class="text-gray-700 text-sm font-semibold">Ativo</span>
                <%= image_tag 'green_circle.png' %>
              <% else %>
                <span class="text-gray-700 text-sm font-semibold">Inativo</span>
                <%= image_tag "red_circle.png" %>
              <% end %>
            </div>

            <% if beverage.image.attached? %>
                <%= image_tag beverage.image, alt: beverage.name, class: "w-32 h-32 object-cover rounded-lg mr-6"%>
            <% else %>
                <%= image_tag "sem-imagem.jpg", class: "w-32 h-32 object-cover rounded-lg mr-6" %>
            <% end %>
            <div>
              <%= link_to restaurant_beverage_path(user_restaurant, beverage) do %>
                <h2 class="text-2xl font-bold text-indigo-700 hover:text-indigo-900 mb-2"><%= beverage.name %></h2>
              <% end %>
              <p class="text-gray-700 text-lg mb-2"><%= beverage.description %></p>
            </div>
          </div>
      <% end %>
    <% else %>
        <h2 class="text-2xl font-bold text-gray-700">Nenhuma bebida cadastrada.</h2>
    <% end %>
  </div>