<div class="border border-gray-300 rounded-lg p-4 shadow-lg flex flex-col items-center w-96 relative">
  <div class="absolute top-2 right-2 flex items-center space-x-1">
      <% if @dish.is_active %>
        <span class="text-gray-700 text-sm font-semibold">Ativo</span>
        <%= image_tag 'green_circle.png' %>
      <% else %>
        <span class="text-gray-700 text-sm font-semibold">Inativo</span>
        <%= image_tag "red_circle.png" %>
      <% end %>
  </div>
  
  <% if @dish.image.attached? %>
    <%= image_tag @dish.image, class: "w-48 h-48 object-cover rounded-lg mb-4" %>
  <% else %>
    <%= image_tag "sem-imagem.jpg", class: "w-48 h-48 object-cover rounded-lg mb-4" %>
  <% end %>
  
  <h1 class="text-2xl font-bold text-indigo-700 mb-2">Prato: <%= @dish.name %></h1>
  <p class="text-gray-600 mb-2">Descrição: <%= @dish.description %></p>
  <span class="text-gray-500 mb-4">Calorias: <%= "#{@dish.calories} kcal" %></span>
  
  <div class="mb-2">
    <%= button_to @button_value, restaurant_update_menu_item_status_path(user_restaurant, @dish), method: :post, class: "bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700" %>
  </div>

  <div class="flex gap-2">
    <%= link_to "Editar Prato", edit_restaurant_dish_path(user_restaurant, @dish), class: "bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700" %>
    <%= button_to "Excluir Prato", restaurant_dish_path(user_restaurant, @dish), method: :delete, class: "bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700" %>
  </div>
</div>    

