<div class="flex items-center justify-between mb-6">
   <%= link_to dishes_path do %>
    <%= image_tag 'left_arrow.png'%>
  <% end %>
  <div>
    <%= link_to 'Ver histórico de porções', item_option_historicals_path(@dish.id),  class: 'dark:bg-gray-700 py-2 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
    <%= link_to 'Cadastrar porção', new_item_option_path(@dish.id),  class: 'dark:bg-gray-700 py-2 px-4 border border-transparent rounded-md shadow-lg text-lg font-medium text-white hover:dark:bg-gray-800 cursor-pointer focus:outline-none focus:ring-2 transition duration-200 focus:ring-offset-2 focus:ring-blue-500' %>
  </div>
</div>



<div class="w-1/2 border border-gray-300 rounded-lg p-4 shadow-lg flex flex-col items-center mx-auto relative">
  <div class="absolute top-2 right-2 flex items-center space-x-1">
      <% if @dish.is_active %>
        <span class="text-gray-700 text-sm font-semibold">Ativo</span>
        <%= image_tag 'green_circle.png' %>
      <% else %>
        <span class="text-gray-700 text-sm font-semibold">Inativo</span>
        <%= image_tag "red_circle.png" %>
      <% end %>
  </div>
  
  <% if @dish.image.attached? %>
    <%= image_tag @dish.image, class: "w-48 h-48 object-cover rounded-lg mb-4" %>
  <% else %>
    <%= image_tag "sem-imagem.jpg", class: "w-48 h-48 object-cover rounded-lg mb-4" %>
  <% end %>
  
  <h1 class="text-2xl font-bold text-gray-800 mb-2"><%= @dish.name %></h1>
  <div class='mb-4'>
    <span class="text-gray-700 mb-2"><strong>Descrição:</strong> <%= @dish.description %></span><br>
    <span class="text-gray-700 mb-4"><strong>Calorias:</strong> <%= "#{@dish.calories} kcal" %></span><br>
    <% if @tags.present? %>
      <span class="text-gray-700 mb-2"><strong>Marcador(es):</strong></span>
      <% @tags.each do |tag| %>
        <span class="text-gray-700 mb-4"><%= tag.name %></span>
      <% end %>
    <% end %> 

  </div>

  <div class="flex gap-2">
     <%= button_to @button_value, update_item_status_path(@dish), method: :post, class: "bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700" %>
    <%= link_to "Editar Prato", edit_dish_path(@dish), class: "bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700" %>
    <% if @dish.item_options.empty? %>
      <%= button_to "Excluir Prato", dish_path(@dish), method: :delete, class: "bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700" %>
    <% end %>
  </div>
</div>    

<div class="w-1/2 border border-gray-300 rounded-lg p-4 shadow-lg flex flex-col items-center mx-auto relative mt-4 mb-4">
  <% if @options.present? %>
    <h1 class="text-2xl font-bold text-gray-800 mb-2">Porções cadastradas para <%= @dish.name %></h1>
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descrição da porção</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Preço</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ação</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @options.each do |option| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= option.description %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= number_to_currency(option.price) %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <%= link_to "Editar porção", edit_item_option_path(@dish.id, option), class: "text-indigo-600 hover:text-indigo-900" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 class="text-2xl font-bold text-gray-800 mb-2 text-center">Nenhuma porção cadastrada para <%= @dish.name %></h1>
  <% end %>
</div>
