<div class="flex items-center justify-center mb-2">
  <h1 class="ml-3 text-3xl font-bold text-gray-800">Horário de Funcionamento</h1>
</div>
<div class="w-full border border-gray-300 rounded-lg p-4 shadow-lg flex flex-col items-center mx-auto relative mt-4 mb-4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dia</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horário de Abertura</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Horário de Fechamento</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Aberto</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ação</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @bussiness_hours.each do |bh| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= bh.day_of_week %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= bh.is_open ? bh.opening_hour.strftime("%H:%M") : 'Fechado' %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= bh.is_open == true ? bh.closing_hour.strftime("%H:%M") : 'Fechado' %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <%= bh.is_open ? "Sim" : "Não" %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
            <%= link_to "Editar", edit_bussiness_hour_path(bh.id), class: "text-indigo-600 hover:text-indigo-900" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>